:root {
	--white: #f3f4f5;
	--black: #242024;
	--red: #e30220;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	background-color: var(--black);
	width: 100%;
	height: 100vh;
}

h1 {
	text-align: center;
	color: var(--white);
}

.grid {
	display: grid;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.card {
	background-color: var(--white);
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1em;
	border-left: 10px solid var(--red);
	border-radius: 10px;
}

.card .card-line:last-of-type {
	margin-top: auto;
}

#main-div {
	width: 100%;
	padding: 2em;
	grid-template: 300px / repeat(auto-fit, minmax(300px, 500px));
	grid-auto-rows: 300px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 2em;
}

#add-book-button {
	width: 150px;
	height: 150px;
}