:root {
	--white: #f3f4f5;
	--black: #242024;
	--grey: #dddddd;
	--red: #e30220;
	--light-blue: #3993dd;
	--blue-purple: #6665dd;
	--green: #23967f;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	background-color: var(--grey);
	width: 100%;
	height: 100vh;
}

p,
h1,
h2,
span,
button,
label,
input,
a {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

i {
	color: var(--white);
}

button {
	border-radius: 10px;
	cursor: pointer;
}

h1 {
	text-align: center;
	color: var(--black);
	margin-top: 0.5em;
}

span {
	font-size: 1.1rem;
	font-weight: 600;
}

input:not([type="checkbox"]) {
	outline: 5px solid var(--grey);
	border: none;
	border-radius: 10px;
	padding-inline: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
	font-weight: 600;
}

input:not([type="checkbox"]),
#pages-div,
#checkbox-div {
	width: 180px;
	height: 32px;
}

input[type="number"] {
	width: 80px;
	text-align: center;
}

input[type="checkbox"] {
	appearance: none;
	position: relative;
	width: 30px;
	height: 30px;
	background-color: var(--red);
	border-radius: 50%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

input[type="checkbox"]:checked {
	appearance: none;
	background-color: var(--green);
	border-radius: 50%;
	cursor: pointer;
}

input[type="checkbox"]:not(:checked)::after {
	content: "\2716";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	font-size: 1.2rem;
}

input[type="checkbox"]:checked::after {
	content: url("./check.png");
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	font-size: 1.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input:invalid {
	outline-color: var(--red);
}

input:focus {
	outline-color: var(--light-blue);
}

form {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(36, 32, 36, 0.8);
	align-content: center;
}

hr {
	margin-block: 4.5em;
	width: 80%;
	height: 5px;
	background-color: var(--grey);
	border: none;
	border-radius: 10px;
	margin-inline: auto;
}

a {
	position: absolute;
	bottom: 2px;
	left: 5px;
	text-decoration: none;
	color: var(--black);
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

.card {
	background-color: var(--white);
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-inline: 1.75em;
	padding-block: 2em;
	border-left: 10px solid var(--blue-purple);
	border-radius: 10px;
	box-shadow: 3px 3px 10px -5px #6d646d;
}

.card-line {
	width: 100%;
	margin-bottom: 1em;
	font-weight: 500;
	color: var(--black);
	justify-content: space-between;
	gap: 1em;
}

.card-line-right {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.card .card-line:last-of-type {
	margin-top: auto;
	margin-bottom: 0;
}

.card-button {
	border: none;
	background-color: var(--red);
	color: var(--white);
	padding-block: 0.5em;
	padding-inline: 0.6em;
	font-weight: 700;
}

.fa-plus {
	font-size: 0.9rem;
}

.form-line {
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.form-line label {
	font-size: 1.5rem;
	font-weight: 600;
}

#main-div {
	width: 100%;
	padding: 2em;
	grid-template: 300px / repeat(auto-fit, minmax(300px, 500px));
	grid-auto-rows: 300px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 2em;
}

#is-read-button {
	background-color: #23967f;
}

#add-book-button {
	width: 150px;
	height: 150px;
	border: none;
	padding-left: 10px;
	background-color: var(--light-blue);
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 700;
}

#form-div {
	width: max(30%, 470px);
	height: 600px;
	background-color: var(--white);
	margin-inline: auto;
	border-radius: 20px;
}

#form-heading-div {
	position: relative;
	width: 100%;
	height: 42px;
	background-color: var(--light-blue);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	align-content: center;
	color: var(--white);
}

#form-heading {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 700;
}

#form-close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: max(8%, 38px);
	height: 100%;
	background-color: var(--red);
	border-radius: 0;
	border-top-right-radius: 20px;
	justify-self: end;
	align-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
}

#form-close-button i {
	font-weight: bold;
	font-size: 1.25rem;
}

#form-flex-div {
	width: 100%;
	height: 100%;
	flex-direction: column;
}

#form-content {
	flex-direction: column;
	padding-inline: 2em;
	margin-top: 3em;
	gap: 2em;
}

#checkbox-div {
	align-items: center;
	justify-content: left;
	gap: 0.75em;
}

#checkbox-span {
	font-size: 1.2rem;
}

#form-submit-button {
	display: block;
	width: 30%;
	height: 50px;
	background-color: #19ac42;
	color: white;
	margin-inline: auto;
	border: none;
	border-radius: 10px;
	font-size: 1.5rem;
	font-weight: 700;
}

@media only screen and (max-width: 550px) {
	input:not([type="checkbox"]) {
		font-size: 0.8rem;
		outline-width: 4px;
	}
	input:not([type="checkbox"]),
	#pages-div,
	#checkbox-div {
		width: 112px;
		height: 24px;
	}
	input[type="checkbox"] {
		width: 25px;
		height: 25px;
	}
	input[type="checkbox"]:not(:checked)::after {
		font-size: 1.05rem;
		transform: translate(-48%, -52%);
	}
	input[type="checkbox"]:checked::after {
		font-size: 1.05rem;
		line-height: 0.8;
	}
	input[type="number"] {
		width: 60px;
	}
	.form-line label {
		font-size: 1.15rem;
	}
	#form-div {
		width: 350px;
	}
	#checkbox-div {
		gap: 0.5em;
	}
	#checkbox-span {
		font-size: 1.1rem;
	}
}

@media only screen and (max-height: 640px) {
	hr {
		width: 4px;
		height: 200px;
		margin: 0 3em;
	}
	input:not([type="checkbox"]) {
		font-size: 0.8rem;
		outline-width: 3px;
	}
	input:not([type="checkbox"]),
	#pages-div,
	#checkbox-div {
		width: 120px;
		height: 25px;
	}
	input[type="number"] {
		width: 60px;
	}
	input[type="checkbox"] {
		width: 25px;
		height: 25px;
	}
	input[type="checkbox"]:not(:checked)::after {
		font-size: 1.05rem;
		transform: translate(-48%, -52%);
	}
	input[type="checkbox"]:checked::after {
		font-size: 1.05rem;
		line-height: 0.8;
	}
	.form-line {
		gap: 1.75em;
	}
	.form-line label {
		font-size: 1.2rem;
	}
	#form-div {
		width: 90%;
		height: 360px;
	}
	#form-flex-div {
		flex-direction: row;
		height: 318px;
		justify-content: space-evenly;
		align-items: center;
		padding-inline: 3em;
	}
	#form-content {
		gap: 1.5em;
		margin: 0;
		padding: 0;
	}
	#checkbox-div {
		gap: 0.5em;
	}
	#checkbox-span {
		font-size: 1.1rem;
	}
	#form-submit-button {
		width: 20%;
		margin: 0;
	}
}
